%fieldset
  %legend Sobre
  %h4 Este site foi criado para auxiliar o acesso a discos oficiais que foram disponibiilzados pelas bandas que irão ao Psicodalia 2014. É um site onde qualquer um poderá cadastrar um album de alguma banda. Por isso, não me responsabilizo pela integridade dos links, nem por discos pirateados.
  %p Ronan Rodrigo Nunes - ronan.nunes@me.com