@import url("http://fonts.googleapis.com/css?family=Bree+Serif")
@import bootstrap
@import bootstrap/glyphicons
*
  border-radius: 0 !important
  font-family: "Bree Serif", "Helvetica Neue", Helvetica, sans-serif !important
.btn, legend, li a, a.navbar-brand, label, .panel-heading
  text-transform: uppercase
.form-actions
  border-top: 1px solid #E5E5E5
  padding-top: 5px
  margin-top: 5px
.dots
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.jumbotron
  background: url("header.jpg")
  background-repeat: no-repeat
  background-size: 100% auto
  box-shadow: inset 0px 0px 100px rgba(0,0,0,.8)
  -webkit-box-shadow: inset 0px 0px 100px rgba(0,0,0,.8)
  -moz-box-shadow: inset 0px 0px 100px rgba(0,0,0,.8)
  margin-bottom: 10px
body
  padding-top: 60px
.jumbotron
  p, h1
    margin: 0